div.container {
	width: 100%;
	border: 1px solid silver;
}
header {
	font-family:verdana;
		font-size: 50px;
		padding: 1cm;
	background-image: url("lightpurple.jpg");
	text-align: center;
	color: white;
	clear: left;
}
nav {
	float: left;
	max-width: 180px;
	margin: 0;
	padding: 1em;
}
nav ul { 
	list-style-type: none;
	padding: 1px;
	text-decoration: none;
}
nav li a {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}
nav li a: hover {
	background-color: #008080;
	color: white;
}
	
h1 {
	font-family: verdana;
	font-weight: bold;
	font-size: 14px;
	text-decoration: underline;
}
h2 {
	font-family: verdana;
	font-weight: normal; 
	font-size: 12px;
}
p {
	font-family: verdana;
	font-weight: normal;
	font-size: 10px;
}
p.normal {
	font-style: normal;
}
p.italic {
	font-style: italic;
}
body {
	 font-family: verdana; 
		font-weight: normal;
		font-size: 12px;
		background-image: url("light.jpg");
}
a {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}
a:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
img {
    display: block;
    margin: 0 auto;
}